/* .bottom-bar {
  display: block;
  width: 100%;
  border-radius:50px 50px 0 0 ;
  justify-content: space-between!important;
}

.bottom-bar-link {
  color: #fff !important;
  text-align: center;
  padding: 8px!important;
}

.bottom-bar-item {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .bottom-bar-link {
    font-size: 0.2rem;
    padding: 0.2rem;
  }
}
.bottom-bar-icons{
    font-size: 20px;

} */
.bottom-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between!important;
  border-radius:50px 50px 0 0 ;
  list-style: none!important;
}



.bottom-bar-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #fff; /* adjust color as needed */
}

.bottom-bar-icons {
  font-size: 24px; /* adjust icon size as needed */
}
@media (max-width: 310px) {
  .link-text {
    display: none;
  }
}
