.main-div {
  /* padding: 50px; */
  background: linear-gradient(to right, #141414, #252020);
  min-height: 100vh; 
  height: auto;
  color: white;
}

.logo{
  width:100px;
  height:100px
}
.login-inputs{
  border-top: 0!important;
  border-left: 0!important;
  border-right: 0!important;
  /* border-bottom: 1px solid blue!important; */
  background-color: white;
  padding: 25px!important;
}

.login-text {
    color: #c3cdcd !important;
    font-size: 15px !important;
    font-style: Poppins;

}
.forgot-text {
    color: #c3cdcd;
    font-style: Poppins;
    text-decoration: none;
}
.signup-link {
    color: rgb(87, 87, 201);
    font-style: Poppins;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
}

.signup-text {
    color: #9ba2a2 !important;
    font-size: 14px !important;
    font-style: Poppins;

}
.auth-button{
  background-color:rgb(44, 44, 142)!important;
  border-radius: 100px!important;
  padding: 8px!important;
}

.login-img{
  width: 90%;
  height: 90%;
}

.upload-box {
  position: relative;
  width: 100%;
  height: 150px;
  border: 2px dashed #808080;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upload-label {
  color: #808080;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.upload-label:hover {
  color: #000;
}

input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}


